
.popup {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 75%;
    height: fit-content;
    flex-direction: column;
    background-color: white;
    padding: 1em;
    box-shadow: 0 0 5px black;
}

.header {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1em;
    img {
        width: 75px;
    }
    h1 {
        color: red;
    }

}

h3 {
    color: red;
    font-size: 2rem;
}

.virusInfo {
    width: 75%;
    text-align: center;
}

.whatToDo {
    color: red;
    font-size: 1.5rem;
}

.phone {
    color: blue;
    font-size: 2rem;
}

.lowerText {
    color: red;
    font-size: 0.74rem;
    margin-top: 0;
    margin-bottom: 2em;
}